

.gallery-container{
  display:flex;
  flex-direction: column;
  padding-left:150px;
  padding-right:150px;
  padding-top: 50px;
}

.text-container{
  display:flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-between;
  margin-bottom:50px;
}

p{
  max-width:70%;
}


.text{
  max-width:80%;
}


.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust as needed */
  margin: -8px; /* Negative margin to offset padding in image items */
}

.image-item {
  flex: 0 0 calc(33.33% - 16px); /* Adjust the percentage and margin as needed */
  margin: 8px; /* Adjust margin as needed for spacing between images */
  position: relative;
}

.image-item img {
  display: block;
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: add rounded corners to images */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .gallery-container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .image-item {
    flex: 0 0 calc(50% - 16px);
  }

  
}

@media screen and (max-width: 768px) {
  .image-item {
    flex: 0 0 calc(50% - 16px);
  }

  
}

